langchain
langchain_community
langchain-google-genai
python-dotenv
streamlit
langchain_experimental
sentence-transformers
langchain_chroma
langchainhub
pypdf
rapidocr-onnxruntime
google-cloud-storage==2.17.0
google-cloud-documentai==2.29.1
google-cloud-aiplatform==1.49.0
vertexai==1.49.0
cryptography>=3.1
PyPDF2
spcy
PyCryptodome